# These will be automatically created by Neon Launchpad (https://neon.new).
# You will also need to
DATABASE_URL=
DATABASE_URL_POOLER=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=

# Mailtrap (for sending emails)
MAILTRAP_TOKEN=
