node_modules
.DS_Store
dist
dist-ssr
dev-dist
*.local
.env
.env.local
.env.development
.env.production
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
.vscode
.idea
*.log
.codex
.cursorrules
AGENTS.md

